.rbc-header {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  padding-bottom: 1rem;
  color: var(--muted-foreground);
  border-bottom: 0;
}

.rbc-header + .rbc-header {
  border-left: 0;
}

.rbc-button-link {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  color: var(--muted-foreground);
}

.rbc-month-row {
  min-height: 180px;
  border-top: 1px solid var(--border);
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
}

.rbc-month-row:first-of-type {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.rbc-month-row:last-of-type {
  border-bottom: 1px solid var(--border);
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.rbc-month-view {
  border: none;
}

.rbc-date-cell {
  padding: 0.5rem;
}

.rbc-today {
  background-color: #eff6ff;
}

.rbc-off-range-bg {
  background-color: #f5f5f5;
}
